BODY {
	font-family: 'Cardo', serif;
	font-size: 15px;
	margin-top: 5%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	position: relative;
	color: #999;
}

a:hover {
	text-decoration: none;
	position: relative;
	color:	#999;
}

a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;

    border-width: 0 0 1px;
    border-style: solid;
    border-color: #999;
}

.neuro-img {
	background-size: 100%;
	background-size: cover;
	background-position: center center;
	vertical-align: top;
	background-image: url(../img/mistaken_identity.jpg);
	height: 400px;
	margin-top: 25px;
}