{{define "content"}}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="page-header">
      <h2>Projects</h2>
      <p>The following is a list of projects that I'm developing and maintaining.</p>
    </div>
    <h3 id="us-state-api">
      <a href="http://uss.neurosnap.net/">US State API</a>
    </h3>
    <p>This service is a simple programming interface for developers that
    allows quick access to basic US State information.</p>

    <h3 id="linkgrabber">
      <a href="https://pypi.python.org/pypi/linkGrabber">linkGrabber</a>
    </h3>
    <p>A python package that provides a quick and
       easy way to grab links from a single web page.  This python
       package is a simple wrapper around

       <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a>,
       focusing on grabbing HTML's hyperlink tag, "a."
    </p>

    <h3 id="chartbeatpy">
      <a href="https://pypi.python.org/pypi/chartbeatpy">chartbeatpy</a>
    </h3>
    <p>A simple, synchronous charbeat API wrapper. This python package creates
    a simple "pythonic" entry point for the Chartbeat API.</p>

    <h3 id="dcmdb">
      <a href="http://dcmdb.org">dcmdb</a>
    </h3>
    <p>The purpose of this project was to create a central,
    publically accessible diagnostic image repository.</p>

    <h3 id="mudicom">
      <a href="https://github.com/neurosnap/mudicom">mudicom</a>
    </h3>
    <p>A python package that wraps around GDCM in a pythonic way.
    It allows an application developer to read, write, extract images,
    and anonymize medical diagnostic files (DICOM).</p>

    <h3 id="detroitnow">
      <a href="http://detroitnow.io">DetroitNow</a>
    </h3>
    <p>Aggregates the most popular news articles across all Gannett-owned news sites
    in Michigan.  This site uses Tornado, web sockets, and ChartBeat to provide
    real-time data analytics on news in Michigan.</p>

    <h3 id="grassdcm">
      <a href="https://github.com/neurosnap/grassdcm">grassdcm</a>
    </h3>
    <p>A python package that interfaces directly with GDCM without having
    to install GDCM using Cmake and SWIG.</p>

    <h3 id="defect-scatter-overlay">
      <a href="https://github.com/neurosnap/defect-scatter-overlay">Defect Scatter Overlay</a>
    </h3>
    <p>PHP application with the purpose of applying defects as points
    (in x, y coordinates) on a part, which are to be entered by
    operators manufacturing the part.
    <a href="http://nysus.net/erb/defect-scatter-overlay/demo.php">DEMO</a></p>

    <h3 id="jquery-nysreports">
      <a href="https://github.com/nysus/jQuery-nysReports">jQuery-nysReports</a>
    </h3>
    <p>jQuery plugin that allows an application developer to quickly generate reports
    visually appealling, functional reports with a lot of pre-canned utilities.
    It is designed to be abstract while only requiring a few dependencies
    and assumptions to set-up.
    <a href="http://www.nysus.net/erb/nysReports/nysReport.html">DEMO</a></p>

    <h3 id="jquery-nystables">
      <a href="https://github.com/neurosnap/jQuery-nysTables">jQuery-nysTables</a>
    </h3>
    <p>jQuery plugin that creates a front-end user interface to add, edit, and
    remove columns, data from a relational database.
    It currently supports SQL Server and has server scripting written in PHP.
    <a href="http://nysus.net/erb/nysTables/examples/basic.html">DEMO</a></p>

    <h3 id="cartcompass">
      <a href="https://github.com/neurosnap/POUS">CartCompass</a>
    </h3>
    <p>Using wireless access points, this android mobile app triangilates
    the location of a user within a shopping store.</p>
  </div>
</div>
{{end}}